{% extends "layout.html" %}
  
{% block content %}
	<h1>Python Toolbox</h1>
		<ul>
			<li>Position computation</li>
			<li>Predictive analytics</li>
			<li>Ipython Notebook</li>
		</ul>
	<h2>Data Flow through the system</h2>
		<ul>
			<li>Data visualization</li>
			<li>Visualization tools like Bokeh</li>
		</ul>
	<h3>Integrate, share and publish your code</h3>
		<ul>
			<li><a href="#">Github</a></li>
			<li><a href="#">Google Drive</a></li>
			<li><a href="#">ThingSpeak</a></li>
		</ul>  
{% endblock %}
