{% extends "layout.html" %}
  
{% block content %}
	<h1>Optical Webcam Images</h1>
		<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Optical Webcam Images<b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    <li><a href="#">Site</a></li>
		    <li><a href="#">Time</a></li>
		    <li class="divider"></li>
		    <li class="dropdown-header">Sort</li>
		    <li><a href="#">Browse</a></li>
		  </ul>
	<h2>Infrared Images</h2>
		<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Infrared Images<b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    <li><a href="#">Site</a></li>
		    <li><a href="#">Time</a></li>
		    <li class="divider"></li>
		    <li class="dropdown-header">Sort</li>
		    <li><a href="#">Browse</a></li>
		  </ul>
	<h3>Satellite Images</h3> 
		<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Infrared Images<b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    <li><a href="#">Place</a></li>
		    <li><a href="#">Time</a></li>
		    <li class="divider"></li>
		    <li class="dropdown-header">Sort</li>
		    <li><a href="#">Browse</a></li>
		  </ul> 

{% endblock %}
